@model IEnumerable<StudentGuidence.Models.University>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<h1>University</h1>
<a asp-action="Create" class="float-right btn btn-primary font-weight-bold text-capitalize">


    @*<img src="~/img/Icon/aaa.png" />*@

    <img src="~/img/Icon/add_50px.png" />
    Create University
</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Provnce</th>
        <th>Establish Date</th>
        <th></th>
    </tr>
    @foreach (var university in Model)
    {
        <tr>
            <td>@university.Name</td>
            <td>@university.Province</td>
            <td>@university.Establishment.ToString("d")</td>
            <td>

                <a asp-action="Delete" asp-route-id="@university.Id" class="mr-1">
                    <img src="~/img/Icon/delete_bin_60px.png22.png" />
                </a>
                <a asp-action="Edit" asp-route-id="@university.Id">
                    <img src="~/img/Icon/icons8_edit.ico" />
                </a>
            </td>
        </tr>
    }
</table>
