@model StudentGuidence.Models.ViewModels.PostCreateViewModel
@using StudentGuidence.Utility;
@{
    ViewData["Title"] = "Create";
}
<h1 clsass="text-center py-5">Create Article</h1>

@if (Model.Article.AuthorId == null)
{
    <h2>Poster: </h2> @Model.Author
}

else if (Model.AuthorType == SD.Teacher)
{
    <h2>Name Of Poster: @Model.Author</h2>
}

<form method="post" asp-controller="PostArticle" enctype="multipart/form-data" asp-action="Create" class="form-control form-control-lg h-100 mb-3">

    @if (Model.AuthorType == SD.Teacher)
    {
        <input hidden asp-for="@Model.Teacher.Id" class="form-control form-control-lg border-primary" />
        <input hidden asp-for="@Model.Teacher.FirstName" class="form-control form-control-lg border-primary" />
        <input asp-for="@Model.Teacher.LastName" hidden />
        <input asp-for="@Model.Teacher.Email" hidden />
        <input asp-for="@Model.Teacher.Phone" hidden class="form-control form-control-lg border-primary" />
        <input asp-for="@Model.Teacher.Degree" hidden class="form-control form-control-lg border-primary" />
        <input asp-for="@Model.Teacher.Province" hidden class="form-control form-control-lg border-primary" />
        <input asp-for="@Model.Teacher.ImageUrl" hidden class="form-control form-control-lg border-primary" />
        <input asp-for="@Model.Teacher.District" hidden class="form-control form-control-lg border-primary" />
        <input asp-for="@Model.Teacher.Faculty" hidden class="form-control form-control-lg border-primary" />
        <input asp-for="@Model.Teacher.FacultyId" hidden class="form-control form-control-lg border-primary" />
    }

    else if(Model.AuthorType==SD.Student)
    {
        <input asp-for="@Model.Student.Id" hidden />
        <input asp-for="@Model.Student.FristName" hidden />
        <input asp-for="@Model.Student.LastName" hidden />
        <input asp-for="@Model.Student.Article" hidden />
        <input asp-for="@Model.Student.ArticleId" hidden />
        <input asp-for="@Model.Student.DepartmentId" hidden />
        <input asp-for="@Model.Student.Department" hidden />
        <input asp-for="@Model.Student.District" hidden />
        <input asp-for="@Model.Student.ImageUrl" hidden />
        <input asp-for="@Model.Student.Email" hidden />
        <input asp-for="@Model.Student.Province" hidden />
        <input asp-for="@Model.Student.UniversityStartDate" hidden />
    }

    <input asp-for="@Model.Article.Id" hidden />
    <input asp-for="@Model.AuthorType" hidden />
    <div>
        <div class="row pb-2">
            <h2 class="text-primary">Create Article</h2>
        </div>
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label asp-for="@Model.Article.Title"></label>
                    <input asp-for="@Model.Article.Title" class="form-control form-control-lg border-primary" />
                    <span asp-validation-for="@Model.Article.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label asp-for="@Model.Article.Author"></label>
                    <input asp-for="@Model.Article.Author" class="form-control form-control-lg border-primary" />
                </div>
            </div>
            <input asp-for="@Model.Article.AuthorId" hidden />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Article.Description"></label>
            <textarea class="form-control" rows="8" asp-for="@Model.Article.Description"></textarea>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Article.ImageUrl"></label>
            <input type="file" name="file" class="form-control form-control-lg border-primary" />
        </div>

        @*<div class="mb-3">
            <label asp-for="ImageUrl"></label>
            <input type="file" name="file" class="bi-upload" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>*@
        <button type="submit" class="btn btn-outline-success" style="width:150px">
            Post
            <img src="~/img/Icon/add25px.png" />
        </button>
        <a asp-action="Index" class="btn btn-outline-primary" style="width:150px;">
            <img src="~/img/Icon/back_50px.png" />
            Cancel
        </a>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}