@model StudentGuidence.Models.ViewModels.PostCreateViewModel
@using StudentGuidence.Utility;

@{
    ViewData["Title"] = "Teacher Details";
    //  int count = 0;
}
@if (SD.Teacher == Model.AuthorType)
{
    <section>
        <div class="container">
            <div class="row bg-light">
                @* Left Side has finished *@
                <div class="col-8">
                    <div class="row">
                        <div class="col-3 text-start">
                            @*@foreach (Article article in Model.ArticlesList)
                                {
                                    <a class="btn btn-secondary m-2 rounded-circle text-white">@article.Title</a>
                                    count++;
                                }*@
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div>
                                    @* <p class="text-center"><b>د مقالو عنوانونه  &nbsp; &nbsp;  (د مقالو تاریخ)</b></p>*@

                                    @*<p class="text-center"><b>@Model.ArticlesList.ElementAtOrDefault(--count).Title &nbsp; &nbsp;  @Model.ArticlesList.ElementAtOrDefault(--count).DateOfIssue</b></p>*@
                                    <img src="@Model.Article.ImageUrl" class="text-center rounded" style="width:500px;height:400px;background-position-x:200px;" />
                                </div>
                                <div class="text-end " lang="ar" dir="rtl" id="floatingTextarea2" style="width:500px;height:500px">
                                    <p>
                                        @Model.Article.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Right Side has finished *@
                <div class="col-4">

                    <div class="row">
                        <div>
                            // User Umage
                            <img src="@Model.Teacher.ImageUrl" class="rounded-circle" style="width:200px;height:200px; margin-left:100px;" />
                        </div>
                        <div class="mt-3">
                            <div class="row">
                                <div class="col-8 text-end">
                                    <h5><label><u>@Model.Teacher.FirstName</u></label></h5>
                                    <h5><label><u>@Model.Teacher.LastName</u></label></h5>
                                    <h5><label><u>@Model.Teacher.Province</u></label></h5>
                                    <h5><label><u>@Model.Teacher.District</u></label></h5>
                                    <h5><label><u>@Model.Teacher.Faculty</u></label></h5>
                                    <h5><label><u>@Model.Teacher.Degree</u></label></h5>
                                    <h5><label><u>@Model.Teacher.Phone</u></label></h5>
                                    <h5><label><u>@Model.Teacher.Email</u></label></h5>
                                </div>
                                <div class="col-4 text-end">
                                    <h5><label>:  نوم</label></h5>
                                    <h5><label>:  تخلص</label></h5>
                                    <h5><label>:  ولایت</label></h5>
                                    <h5><label>:  ولسوالی</label></h5>
                                    <h5><label>:‌  فاکولته</label></h5>
                                    <h5><label>:‌  ډګری</label></h5>
                                    <h5><label>:‌  موبایل</label></h5>
                                    <h5><label>:‌  ایمل</label></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}

else if (SD.Student == Model.AuthorType)
{

    <section>
        <div class="container">
            <div class="row bg-light">
                @* Left Side has finished *@
                <div class="col-8">
                    <div class="row">
                        <div class="col-3 text-start">
                            @*@foreach (Article article in Model.ArticlesList)
                                {
                                    <a class="btn btn-secondary m-2 rounded-circle text-white">@article.Title</a>
                                    count++;
                                }*@
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div>
                                    @* <p class="text-center"><b>د مقالو عنوانونه  &nbsp; &nbsp;  (د مقالو تاریخ)</b></p>*@

                                    @*<p class="text-center"><b>@Model.ArticlesList.ElementAtOrDefault(--count).Title &nbsp; &nbsp;  @Model.ArticlesList.ElementAtOrDefault(--count).DateOfIssue</b></p>*@
                                    <img src="@Model.Article.ImageUrl" class="text-center rounded" style="width:500px;height:400px;background-position-x:200px;" />
                                </div>
                                <div class="text-end " lang="ar" dir="rtl" id="floatingTextarea2" style="width:500px;height:500px">
                                    <p>
                                        @Model.Article.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Right Side has finished *@
                <div class="col-4">

                    <div class="row">
                        <div>
                            // User Umage
                            <img src="@Model.Student.ImageUrl" class="rounded-circle" style="width:200px;height:200px; margin-left:100px;" />
                        </div>
                        <div class="mt-3">
                            <div class="row">
                                <div class="col-8 text-end">
                                    <h5><label><u>@Model.Student.FristName</u></label></h5>
                                    <h5><label><u>@Model.Student.LastName</u></label></h5>
                                    <h5><label><u>@Model.Student.Province</u></label></h5>
                                    <h5><label><u>@Model.Student.District</u></label></h5>
                                    <h5><label><u>@Model.Student.Department</u></label></h5>
                                    <h5><label><u>@Model.Student.UniversityStartDate</u></label></h5>
                                    <h5><label><u>@Model.Student.Email</u></label></h5>

                                </div>
                                <div class="col-4 text-end">
                                    <h5><label>:  نوم</label></h5>
                                    <h5><label>:  تخلص</label></h5>
                                    <h5><label>:  ولایت</label></h5>
                                    <h5><label>:  ولسوالی</label></h5>
                                    <h5><label>:‌  دیپارتمنت</label></h5>
                                    <h5><label>:‌  د پوهنتون د پیل نیته</label></h5>
                                    <h5><label>:‌  ایمل</label></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

}


<div class="container">
    <div class="m-5">
        <h5 class="text-success">Successfully Posted aritcle Mr.Admin.</h5>
    </div>


</div>


















@*
    @{
        ViewData["Title"] = "TeacherDetail";
    }

    <h1>Teacher Detail</h1>
    <div class="m-4">
        <div>
            <b>Name:</b>@Model.Teacher.FirstName <br />
            <b>Last Name:</b>@Model.Teacher.LastName <br />

        </div>
        <div class="m-5 mt-2">
            <h1 class="my-2">List Of All Article:</h1>
            @foreach (Article article in Model.ArticlesList)
            {
                <h3>@article.Title</h3><p>Id: @article.Id</p>
            }

        </div>


    </div>*@

















@*<section>
        <div class="container">
            <div class="row bg-light">
                <div class="col-8">
                    <div class="row">
                        <div class="col-3 text-start">
                            <a class="btn btn-secondary m-2 rounded-circle text-white"> لومړی مقاله</a>
                            <a class="btn btn-secondary m-2 rounded-circle text-white">دومه مقاله</a>
                            <a class="btn btn-secondary m-2 rounded-circle text-white">دریمه مقاله</a>
                            <a class="btn btn-secondary m-2 rounded-circle text-white">څلورمه مقاله</a>
                            <a class="btn btn-secondary m-2 rounded-circle text-white">پنځمه مقاله</a>
                            <a class="btn btn-secondary m-2 rounded-circle text-white">شپږمه مقاله</a>
                            <a class="btn btn-secondary m-2 rounded-circle text-white">لومړی مقاله</a>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div>
                                    <p class="text-center"><b>د مقالو عنوانونه  &nbsp; &nbsp;  (د مقالو تاریخ)</b></p>
                                    <img src="~/images/teacher/040.jpg" class="text-center rounded" style="width:500px;height:400px;background-position-x:200px;" />
                                </div>
                                <div class="text-end " lang="ar" dir="rtl" id="floatingTextarea2" style="width:500px;height:500px">
                                    <p>
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل

                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                        د ډیټابس څخه ډیټا راخستل
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">

                    <div class="row">
                        <div>
                            <img src="~/images/teacher/040.jpg" class="rounded-circle" style="width:200px;height:200px; margin-left:100px;" />
                        </div>
                        <div class="mt-3">
                            <div class="row">
                                <div class="col-8 text-end">
                                    <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                    <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                    <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                    <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                    <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                    <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                    <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                </div>
                                <div class="col-4 text-end">
                                    <h5><label>:  نوم</label></h5>
                                    <h5><label>:  ولایت</label></h5>
                                    <h5><label>:  ولسوالی</label></h5>
                                    <h5><label>:‌  ډیپارټمنټ</label></h5>
                                    <h5><label>:‌  ډګری</label></h5>
                                    <h5><label>:‌  موبایل</label></h5>
                                    <h5><label>:‌  ایمل</label></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>*@


