@model StudentGuidence.Models.Student
@{
    ViewData["Title"] = "AddRegistrationDetail";
}
<h1>AddRegistrationDetail</h1>


<sction class="contianer-fluid">
    <p class="display-5  text-center pt-5"> ثبت پاڼه </p>
    <div class="form-group ">
        <form method="post" enctype="multipart/form-data" class="form-control form-control-lg h-100 border-danger py-5 mb-3">
            <input asp-for="Id" hidden />
            <lable><p class="text-end">  :شخصی معلومات </p></lable>
            <div class="row py-4">
                <div class="col">
                    <input asp-for="FristName" placeholder="  نوم  " class="form-control form-control-lg border-primary" />
                    <span asp-validation-for="FristName" class="text-danger"></span>
                </div>
                <div class="col">
                    <input asp-for="LastName" placeholder="  تخلص  " class="form-control form-control-lg border-primary" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row py-3">
                <div class="col">
                    <input asp-for="Email" placeholder=" بریښنا لیک" class="form-control form-control-lg border-primary" />
                    <span asp-validation-for="FristName" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <label asp-for="Province"></label>
                <input asp-for="Province" placeholder="  تخلص  " class="form-control form-control-lg border-primary" />
                <span asp-validation-for="Province"></span>
            </div>
            <div class="col">
                <label asp-for="District"></label>
                <input asp-for="District" class="form-control form-control-lg border-primary" />
                <span asp-validation-for="District"></span>
            </div>

            <div class="col">
                <label asp-for="ImageUrl"></label>
                <input type="file" name="file" class="form-control form-control-lg border-primary" />
            </div>

            <div class="row py-3">
                <div class="col">
                    @*<input type="text" name="Email" placeholder=" پوهنتون " class="form-control form-control-lg border-primary" />*@
                    <select asp-for="@Model.UniversityId" asp-items="@ViewBag.universityList" class="form-control"></select>
                </div>
                <div class="col">

                    <select asp-for="@Model.FacultyId" asp-items="@ViewBag.facultyList" class="form-control"></select>
                </div>
                <div class="col">
                    @*<input type="text" name="password" placeholder=" پوهنځی " class="form-control form-control-lg border-primary" />*@
                    <select asp-for="@Model.DepartmentId" asp-items="@ViewBag.departmentList" class="form-control"></select>
                </div>
            </div>
            <div class="row py-3">
                @*<div class="col-6">
                <p class="text-end"><b> : صنف </b></p>
                <select class="border border-primary form-control-lg border border-primary">
                    <option>            لمړی            </option>
                    <option>            دوهم            </option>
                    <option>            دریم            </option>
                    <option>            څلورم           </option>
                </select>
            </div>*@
                @*<div class="col-6">
                <p class="text-end"><b> : سمستر </b></p>
                <select class="border border-primary form-control-lg ">
                    <option><b> لمړی </b></option>
                    <option><b> دوهم </b></option>
                </select>
            </div>*@
            </div>
            <div class="row py-3">
                <div class="col">
                    <label asp-for="UniversityStartDate"></label>
                    <input type="date" asp-for="UniversityStartDate" class="form-control form-control-lg border-primary" />
                    <span asp-validation-for="UniversityStartDate"></span>
                </div>
            </div>
            <div class=" col-3">
                <input type="submit" class="btn btn-primary" value="Update" />
            </div>
        </form>
    </div>
</sction>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

